<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Liên hệ</title>

</head>
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->

<!-- Vendor CSS Files -->
<link href="/static/assetshome/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assetshome/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/static/assetshome/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/assetshome/css/style.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
</head>
<body style="background-color: #4d6d46">
<div style="margin-top: -70%" th:replace="~{header-footer/header-contact::headerContact}"></div>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <div class="section-title">
          <h2 style="color: white">LIÊN HỆ VỚI CHÚNG TÔI</h2>
          <p style="color: white">Hãy liên hệ với chúng tôi khi bạn có thắc mắc theo form dưới đây. Chúng tôi luôn sẵn sàng lắng nghe bạn. </p>

        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        <div class="info mt-4">
          <i class="bi bi-geo-alt"></i>
          <h4>Đại chỉ:</h4>
          <p>Quận Sơn Trà,TP.Đà Nẵng,Việt Nam</p>
        </div>
        <div class="row">
          <div class="col-lg-6 mt-4">
            <div class="info">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>coffee@coffee.com.vn</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info w-100 mt-4">
              <i class="bi bi-phone"></i>
              <h4>Số điện thoại:</h4>
              <p>0989-555-777</p>
            </div>
          </div>
        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Họ và tên" required style="border-radius: 30px">
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required style="border-radius: 30px">
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Nội dung" required style="border-radius: 30px"></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Gửi đi</div>
            <div class="error-message"></div>
            <div class="sent-message"></div>
          </div>
          <div ><h4>Thỏa thuận bảo mật thông tin</h4>
            <p>Coffee đảm bảo mọi thông tin bạn cung cấp sẽ được bảo mật tuyệt đối và không có bất kỳ sự góp mặt của bên thứ 3 nào.</p></div>
          <div  class=" d-flex" ><input type="checkbox"><span> </span> <span style="margin-top: 1%;padding: 4px"> Bạn đã đọc và đồng ý với các chính sách của chúng tôi.</span></div>
          <div class="text-center"><button type="submit">Gửi đi</button></div>
        </form>

      </div>
    </div>

  </div>
</section>
<div style="margin-top: -70%" th:replace="~{header-footer/footer::footerHome}"></div>
<script src="/static/assetshome/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assetshome/vendor/aos/aos.js"></script>
<script src="/static/assetshome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assetshome/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assetshome/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assetshome/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assetshome/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assetshome/js/main.js"></script>

</body>
</html>