<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang Chủ</title>

</head>
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->

<!-- Vendor CSS Files -->
<link href="/static/assetshome/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assetshome/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/static/assetshome/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/assetshome/css/style.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"/>
</head>


<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div th:fragment="headerHome">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <h1 class="text-light"><a href="index.html"><span>Coffee</span></a></h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul >
                        <li><a class="nav-link scrollto active" href="#hero">Trang Chủ</a></li>
                        <li><a class="nav-link scrollto" href="#about">Sản phẩm</a></li>
                        <li><a class="nav-link scrollto" href="#services">Khuyến Mãi</a></li>
                        <li><a  class="nav-link scrollto " href="#portfolio">Liên Hệ</a></li>
                        <li style="margin-top: 2%;">
                            <form th:action="@{/homeMail}" method="post" class="nav-link scrollto" href="#contact"
                                  style="margin-left: 1%;display: flex   ">
                                    <input type="text" id="message" name="message" placeholder="nội dung góp ý">
                                    <a  class=" getstarted scrollto" href="#about" style= "border-radius: 30px">Search</a>

                            </form>
                        </li>
<!--                        <li><a class="getstarted scrollto" href="#about" style="margin-left: 1%">Giỏ hàng</a></li>-->
                        <li><a class="" href="#about" style="margin-left: 1%"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div><!-- End Header Container -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <h1>Your New Online Presence with Bethany</h1>
            <h2>We are team of talented designers making websites with Bootstrap</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <section id="clients" class="clients">
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="/static/assetshome/img/clients/client-1.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
                    <img src="/static/assetshome/img/clients/client-2.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="/static/assetshome/img/clients/client-3.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
                    <img src="/static/assetshome/img/clients/client-4.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
                    <img src="/static/assetshome/img/clients/client-5.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
                    <img src="/static/assetshome/img/clients/client-6.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->
</div>
<!-- Vendor JS Files -->
<script src="/static/assetshome/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assetshome/vendor/aos/aos.js"></script>
<script src="/static/assetshome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assetshome/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assetshome/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assetshome/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assetshome/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assetshome/js/main.js"></script>

</body>
</html>