<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hiển thị hi tiết</title>

</head>

<!-- Vendor CSS Files -->
<link href="/static/assetshome/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assetshome/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/static/assetshome/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/static/assetshome/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/assetshome/css/style.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<body>
<div style="margin-top: -70%" th:replace="~{header-footer/header-view::headerView}"></div>

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6" th:object="${product}">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <h2 th:text="${product.name}"></h2>
                                 <img style="border: 1px solid slategray" id="main-image" th:src="${product.image}" width="250"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            </div>
                            <div class="mt-4 mb-3">

                                <p class="" th:text="${product.describes}"></p>
                                <div class="btn-group" role="" aria-label="Basic radio toggle button ">
                                    <span style="margin-top: 6%">Size:&ensp;</span>
                                    <div style="padding: 2%">
                                        <input type="radio" class="btn-check " name="btnradio" id="btnradio3"
                                               autocomplete="off" checked="">
                                        <label class="btn btn-outline-danger" for="btnradio3">S</label>
                                    </div>
                                    <div style="padding: 2%">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                                               autocomplete="off" checked="">
                                        <label class="btn btn-outline-danger" for="btnradio2">M</label>
                                    </div>
                                    <div style="padding: 2%">
                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                                               autocomplete="off" checked="">
                                        <label class="btn btn-outline-danger" for="btnradio1">L</label>
                                    </div>


                                </div>
                                <div class="price d-flex flex-row align-items-center" style="margin-top: 3%" > <small style="font-size: 20px">Giá:  <small th:text="${product.price} "
                                                                                                                                          style="font-size: 20px;"></small>00
                                    đ</small></div>

                                </div>
                                    <a class="btn btn-outline-success" style=" margin-top: 2%;border-radius: 30px" th:href="@{/shopping_cart/operation/__${product.id}__(action='show')}">Đặt
                                        ngay</a>
                        <a class="btn btn-outline-secondary" style=" margin-top: 2%;border-radius: 30px;margin-left: 5%" th:href="@{/home/homeProduct/}">Quay lại
                           </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: -70%" th:replace="~{header-footer/footer::footerHome}"></div>
<script src="/static/assetshome/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assetshome/vendor/aos/aos.js"></script>
<script src="/static/assetshome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assetshome/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assetshome/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assetshome/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assetshome/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assetshome/js/main.js"></script>
</body>
</html>