.buttons {
    position: absolute;
    bottom: -150px
}

.card:hover .buttons {
    animation: buttons 500ms ease-in forwards
}
.btn {
    height: 50px;
    font-size: 16px;
    width: 140px !important;
    font-weight: 600
}